<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title  }} | Cogni XR Health</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/survey-jquery"></script>
    <script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>
</head>

<body>
    <div style="position:absolute; top:0.5em; right:0.5em;">
        <select onchange="survey.locale = this.value; survey.render();">
            <option selected="selected" value="en">English</option>
            <option value="fr">Française</option>
        </select>
    </div>
    <div id="surveyContainer"></div>
<script>
    var survey = new Survey.Model({{questionnaire | safe }});
    survey.locale = 'en';
    $(function() {
        $("#surveyContainer").Survey({ model: survey });
    });

    survey.onComplete.add((survey) => {
        const resultData = [];
        for (const key in survey.data) {
          const question = survey.getQuestionByName(key);
          if (!!question) {
            const item = {
              question: question.title,
              answer: question.displayValue
            };
            resultData.push(item);
          }
        }
        $.ajax({
            type: "POST",
            url: "/submit",
            contentType: "application/json",
            data: JSON.stringify({
                locale: survey.locale || "en",
                questionnaire: "{{id}}",
                response: resultData,
            }),
            dataType: "json"
        });
      });
</script>
</body>


</html>