<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questionnaires | Cogni XR Health</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .error {
            color: rgb(222, 55, 55);
        }

        #spinner {
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            -webkit-align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light" style="background-color: #2BC8C2;">
        <a class="navbar-brand" href="#">CogniXR Questionnaires</a>
        <a class="btn btn-dark my-2 my-sm-0" href="{{url_for('create_questionnaire')}}">Create New</a>
    </nav>

    <!-- Container -->
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Last Updated</th>
                    <th>Associated Emails</th>
                    <th>Actions</th>
                </tr>
                {% for sample in questionnaires %}
                <tr>
                    <td>{{ sample.questionnaire.title.default or  sample.questionnaire.title }}</td>
                    <td>{{ sample.updated_at.strftime("%d %B, %Y") }}</td>
                    <td>{{ sample.email }}</td>
                    <td><button class="btn btn-sm btn-info copy" data-href="{{url_for('view', id=sample._id)}}"><i class="fa fa-clipboard"></i> | Copy Link</button>
                        <a href="{{url_for('view', id=sample._id)}}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> | View</a>
                        <a href="{{url_for('edit_questionnaire', id=sample._id)}}" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i> | Edit</a>
                        <a href="{{url_for('delete_questionnaire', id=sample._id)}}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i> | Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!-- ------------------ Extra Components ----------------------------------->
    <!-- Spinner -->
    <div id="spinner">
        <div class="spinner-border text-light" style="height: 5em; width: 5em" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Alert Error -->
    <div id="error-toast" class="toast" data-delay="5000" style="position: absolute; top: 0px; z-index: -999;">
        <div class="toast-header">
            <strong class="mr-auto error">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">Opps! An error occured.</div>
    </div>

    <!-- Alert Success -->
    <div id="success-toast" class="toast" data-delay="5000" style="position: absolute; top: 0px; z-index: -999;">
        <div class="toast-header">
            <strong class="mr-auto success">Success</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">Request completed successfully!</div>
    </div>


    <!------------------------------ JS ---------------------------------------->
    <script>
        var showSpinner = () => {
            $("#spinner").css("display", "flex");
        };
        var hideSpinner = () => {
            $("#spinner").css("display", "none");
        };

        $('.copy').on('click', (e) => {
            var url = window.location.hostname + e.currentTarget.getAttribute('data-href')
            navigator.clipboard.writeText(url);
            $(e.currentTarget).html('Copied!')
            setTimeout(()=> {
                $(e.currentTarget).html('<i class="fa fa-clipboard"></i> | Copy Link')
            }, 1000)
        })

    </script>
</body>

</html>