<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questionnaire Playbook</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
    <style>
        .mt-2 {
            margin-top: 1.5em;
        }

        .jumbotron {
            padding: 1em !important;
        }

        .error {
            color: rgb(222, 55, 55);
        }

        #spinner {
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            -webkit-align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Questionnaire Playbook</a>
        <form class="form-inline">
            <select class="form-control mr-1" data-action="change-questionnaire">
                <option value="" selected>Select Questionnaire</option>
                {% for item in all_questions %}
                <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <button type="button" data-action="save-questionnaire" class="btn btn-outline-success">
                Save Questionnaire
            </button>
        </form>
    </nav>
    <!-- Container -->
    <div class="container-fluid">
        <!-- Form -->
        <form id="questionnaire-form">
            <div class="questionnaire jumbotron mt-2">
                <div class="form-group">
                    <input class="form-control required" placeholder="Enter Question" name="question[1]" />
                </div>
                <div class="form-group">
                    <input class="form-control required" placeholder="Enter Answer" name="answer[1]" />
                </div>
                <div class="form-group">
                    <button data-action="add" class="btn btn-outline-dark">
                        Add More
                    </button>
                    <button data-action="delete" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </form>
        <button data-toggle="modal" data-target="#emailModal" class="btn btn-success">
            Submit Response
        </button>
    </div>

    <!-- ------------------ Extra Components ----------------------------------->
    <!-- Spinner -->
    <div id="spinner">
        <div class="spinner-border text-light" style="height: 5em; width: 5em" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Alert Error -->
    <div id="error-toast" class="toast" data-delay="5000" style="position: absolute; top: 0px">
        <div class="toast-header">
            <strong class="mr-auto error">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">There are errors on some form fields.</div>
    </div>

    <!-- Alert Success -->
    <div id="success-toast" class="toast" data-delay="5000" style="position: absolute; top: 0px">
        <div class="toast-header">
            <strong class="mr-auto success">Success</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">Request completed successfully!</div>
    </div>

    <!-- Summary Modal -->
    <div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="summaryModalTitle">Response Summary</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="summary-report"></ul>
                </div>
                <div class="modal-footer">
                    <section>
                        <small>Note: This content is generated using BART, a Large Language
                            Model like ChatGPT. This content is not moderated and might be
                            offensive, repetative or might contain additional information
                            generated by AI.</small>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Email Modal -->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">Email Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email Address:</label>
                        <input type="text" placeholder="You can enter multiple emails seperated by comma (,)"
                            class="form-control" id="recipient-name" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button data-action="submit" data-dismiss="modal" type="button" class="btn btn-success">Send Email</button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------ JS ---------------------------------------->
    <script>
        var showSpinner = () => {
            $("#spinner").css("display", "flex");
        };
        var hideSpinner = () => {
            $("#spinner").css("display", "none");
        };

        var serializeForm = () => {
            var requestPayload = [];
            var serialized = $("#questionnaire-form").serializeArray();
            for (var i = 0; i < serialized.length - 1; i = i + 2) {
                var temp = {
                    question: serialized[i].value,
                    answer: serialized[i + 1].value,
                };
                requestPayload.push(temp);
            }
            return requestPayload;
        };

        $(document).ready(() => {
            var numQuestion = 1;
            $("#questionnaire-form").validate();
            var question = (numQuestion, values = { question: "", answer: "" }) => `
            <div class="questionnaire jumbotron mt-2">
                <div class="form-group">
                  <input
                    class="form-control required"
                    value="${values.question}"
                    placeholder="Enter Question"
                    name="question[${numQuestion}]"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="form-control required"
                    value="${values.answer}"
                    placeholder="Enter Answer"
                    name="answer[${numQuestion}]"
                  />
                </div>
                <div class="form-group">
                  <button data-action="add" class="btn btn-outline-dark">Add More</button>
                  <button data-action="delete" class="btn btn-danger">Remove</button>
                </div>
              </div>
            `;

            // Add New Question
            $("body").on("click", '[data-action="add"]', (event) => {
                event.preventDefault();
                numQuestion++;
                $(event.currentTarget)
                    .closest("#questionnaire-form")
                    .append(question(numQuestion));
            });

            // Delete Question
            $("body").on("click", '[data-action="delete"]', (event) => {
                event.preventDefault();
                if ($(".questionnaire").length > 1) {
                    $(event.currentTarget).closest(".questionnaire").remove();
                }
            });

            // Save Questionnaire
            $('[data-action="save-questionnaire"]').on("click", (event) => {
                event.preventDefault();
                $("#questionnaire-form").validate();
                if (!$("#questionnaire-form").valid()) {
                    $("#error-toast").toast("show");
                    return;
                }
                var requestPayload = serializeForm();
                showSpinner();
                $.ajax({
                    type: "POST",
                    url: "/save-questionnaire",
                    contentType: "application/json",
                    data: JSON.stringify(requestPayload),
                    dataType: "json",
                    success: (data) => {
                        $("#success-toast").toast("show");
                        hideSpinner();
                    },
                    error: () => {
                        $("#error-toast").toast("show");
                        hideSpinner();
                    },
                });
            });

            $('[data-action="change-questionnaire"]').on("change", (event) => {
                event.preventDefault();
                $this = $(event.currentTarget);
                var id = $this.val();
                if (!id) return;
                showSpinner();
                $.ajax({
                    type: "GET",
                    url: `/questionnaire/${id}`,
                    contentType: "application/json",
                    dataType: "json",
                    success: ({ data, success }) => {
                        if (success) {
                            var { questionnaire } = data;
                            if (Array.isArray(questionnaire) && questionnaire.length) {
                                var htmlData = "";
                                questionnaire.forEach((q, i) => {
                                    htmlData += question(i, q);
                                });
                                $("#questionnaire-form").html(htmlData);
                                hideSpinner();
                            }
                        } else {
                            $("#error-toast").toast("show");
                            hideSpinner();
                        }
                    },
                    error: () => {
                        $("#error-toast").toast("show");
                        hideSpinner();
                    },
                });
            });

            $('[data-action="submit"]').on("click", () => {
                event.preventDefault();
                $("#questionnaire-form").validate();
                if (!$("#questionnaire-form").valid()) {
                    $("#error-toast").toast("show");
                    return;
                }
                var requestPayload = serializeForm();
                $("html, body").animate({ scrollTop: "0" });
                showSpinner();
                $.ajax({
                    type: "POST",
                    url: "/summarize",
                    contentType: "application/json",
                    data: JSON.stringify({
                        email: $('#recipient-name').val() || '',
                        response: requestPayload,
                    }),
                    dataType: "json",
                    success: ({ data, status }) => {
                        var list = "";
                        data.forEach((line) => {
                            list += `<li>${line}.</li>`;
                        });
                        $("#summary-report").html(list);
                        $("#summaryModal").modal("show");
                        hideSpinner();
                    },
                    error: () => {
                        hideSpinner();
                        $("#error-toast").toast("show");
                    },
                });
            });
        });
    </script>
</body>

</html>