<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Questionnaire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/knockout/build/output/knockout-latest.js"></script>
    <link href="https://unpkg.com/survey-core/defaultV2.min.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/survey-core/survey.core.min.js"></script>
    <script src="https://unpkg.com/survey-knockout-ui/survey-knockout-ui.min.js"></script>
    <link href="https://unpkg.com/survey-creator-core/survey-creator-core.min.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/survey-creator-core/survey-creator-core.min.js"></script>
    <script src="https://unpkg.com/survey-creator-knockout/survey-creator-knockout.min.js"></script>

    <style>
        .error {
            color: rgb(222, 55, 55);
        }

        #spinner {
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            -webkit-align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light" style="background-color: #2BC8C2;">
        <a class="navbar-brand" href="{{url_for('index')}}">Questionnaires</a>
    </nav>

    <!-- Container -->
    <div class="container-fluid">
        <div id="surveyCreator" style="height: 100vh;"></div>
    </div>

    <!-- ------------------ Extra Components ----------------------------------->
    <!-- Spinner -->
    <div id="spinner">
        <div class="spinner-border text-light" style="height: 5em; width: 5em" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Alert Error -->
    <div id="error-toast" class="toast" data-delay="5000" style="position: absolute; top: 0px; z-index:-99;">
        <div class="toast-header">
            <strong class="mr-auto error">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">Opps! An error occured.</div>
    </div>

    <!-- Alert Success -->
    <div id="success-toast" class="toast" data-delay="5000" style="position: absolute; top: 0px; z-index:-99;">
        <div class="toast-header">
            <strong class="mr-auto success">Success</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">Request completed successfully!</div>
    </div>

    <!-- Email Modal -->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">Add email address to send reports</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email Address:</label>
                        <input type="text" required placeholder="You can enter multiple emails seperated by comma (,)"
                            class="form-control" id="recipient-name" value="{{email}}" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button id="create-questionnaire" data-action="submit" data-dismiss="modal" type="button"
                        class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------ JS ---------------------------------------->
    <script>
        var showSpinner = () => {
            $("#spinner").css("display", "flex");
        };
        var hideSpinner = () => {
            $("#spinner").css("display", "none");
        };

        var creatorOptions = {
            showLogicTab: true,
            isAutoSave: false,
            showTranslationTab: true
        };

        Survey.surveyLocalization.supportedLocales = ["en", "fr"];

        const creator = new SurveyCreator.SurveyCreator(creatorOptions);
        creator.text = JSON.stringify({{ questionnaire | safe }}) || window.localStorage.getItem("survey-json") || JSON.stringify({});
        creator.saveSurveyFunc = (saveNo, callback) => {
            window.localStorage.setItem("survey-json", creator.text);
            $('#emailModal').modal('show');
        };

        document.addEventListener("DOMContentLoaded", function () {
            creator.render("surveyCreator");
        });

        $('#create-questionnaire').on('click', () => {
            var emails = $('#recipient-name').val();
            var json = {
                email: emails,
                questionnaire: creator.JSON
            }
            var id = "{{id}}"
            var url = id.length < 10 ? '/create-questionnaire' : `/edit-questionnaire/${id}`
            const request = new XMLHttpRequest();
            request.open('POST', url);
            showSpinner();
            request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            request.addEventListener('load', () => {
                hideSpinner();
                $("#success-toast").toast("show");
                dta = JSON.parse(request.responseText)
                if (!id.length)
                    window.location.href = `/edit-questionnaire/${dta.id}`
            });
            request.addEventListener('error', () => {
                hideSpinner();
                $("#error-toast").toast("show");
            });
            request.send(JSON.stringify(json));
        })
    </script>
</body>

</html>